<table class="table">
  <thead>
  <tr>
    <th>Course Name </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @courses.each do|c|%>

    <tr>
      <td> <%= label_tag c.name %></td>
      <td> <%= check_box_tag c.name, nil,nil,:id => c.id %> </td>
    </tr>
<%end%>
</tbody>
</table>




