<div class="container">
  <h1>Edit Registration:</h1>

  <div class ="col-sm-10">
    <%= render 'form', regdetail: @regdetail, :courses => @courses, :edit_option => true%>
  </div>

</div>

<%= render "shared/modal" %>
