<p id="notice"><%= notice %></p>

<h1>Regdetails</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_users.each do |user| %>
      <tr>
        <td><%= link_to user.email, appuser_reg_details_path(id: user.id) %></td>
        <td> <%= get_user_semester user %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

