<div class="container">
<h2> Student: <%= current_user.email %></h2>
<div class = "col-sm-3">
  <h4> Semester: <%= select_tag "semester",
                      options_for_select(@completed_semester),
                      :class=> "form-control",
                      :onchange => "get_past_result()" %></h4>

</div>
  <div id ="semester-result">
    <%= render "result" %>
  </div>
</div>
