
<h2> Student email: <%= current_user.email %></h2>
<table class="table">
  <thead>
  <tr>
    <th>Course name</th>
    <th>Course code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <% current_user.regdetails.each do |r|  %>
      <tr>
        <td> <%= get_course_name r.course %></td>
        <td> <%= get_course_code r.course %></td>
        <td> <%= get_result r.cgpa %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</br>


